#main-container{
    border: 3px dotted black;
    max-width: fit-content;
    
}

#calc{
    border: 3px solid blue;
    margin: 3px;
    padding: 3px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#screen{
    border: 2px solid black;
    height: 125px;
    flex-grow: 1;
    margin: 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 35px;
}

#bigBtn,
#smallBtn{
    flex-grow: 1;
    margin: 5px 25px;
}
#bigBtn{
    display: flex;
    margin-top: 25px;
}
#acBtn,
#delBtn{
    flex-grow: 1;
    margin-inline: 10px; 
    height: 70px;  
}

#smallBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sbLines{
    flex-grow: 1;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.smallButtons{
    flex-grow: 1;
    margin: 10px;
    height: 75px;
    width: 70px;
    font-size: large;
    
}

.center-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }