#main-container{
    border: 1px dotted black;
    max-width: fit-content;
}

#calc{
    border: 1px solid blue;
    margin: 3px;
    padding: 3px;
    max-width: fit-content;
}

#screen{
    border: 0.5px solid black;
    width: 95px;
    height: 25px;
    margin-bottom: 5px;
}